@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.scroll-top {
  position: fixed;
  bottom: -4em;
  right: 1.75em;
  height: 2.625em;
  width: 2.625em;
  opacity: 0;
  background: #bf431f;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.scroll-top a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.scroll-top:hover {
  background: #83351a;
}
.scroll-top i {
  font-size: 0.6em;
  color: #f4e8ce;
}

.modal-content {
  background: #e3cfab;
}

.beer-desc {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}
.beer-desc__header div {
  width: 100%;
}
.beer-desc__header div h5 {
  font-family: "Alegreya", serif;
  font-weight: 600;
  font-size: 1.6em;
}
.beer-desc__header div span {
  font-style: italic;
}
.beer-desc .beer-abv__title,
.beer-desc .footer-desc__tip,
.beer-desc .beer-desc__body__withus,
.beer-desc .beer-desc__body__bottomspan,
.beer-desc .beer-desc__header {
  color: #bf431f;
}
.beer-desc__body__bottomspan {
  margin-bottom: 2em;
  line-height: 4em;
}
.beer-desc__footer .beer-abv {
  margin-bottom: 1.4em;
  margin-right: 2.4em;
}

.beer-addtocart span,
.beer-addtocart input {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}
.beer-addtocart__header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.beer-addtocart__body__title, .beer-addtocart__header__title {
  font-size: 1.6em;
}
.beer-addtocart__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.beer-addtocart__btn {
  background: #d57f2c;
  width: 3em;
  height: 2em;
  font-size: 1.6em;
  margin-top: 0.6em;
}
.beer-addtocart__btn:hover {
  background: #bf431f;
}

.beer-quantity span {
  font-size: 1.2em;
}
.beer-quantity input {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  width: 4.5em;
  margin-left: 0.5em;
  margin-top: 1.1em;
  font-size: 1.2em;
}

.orange-span {
  color: #bf431f;
}

.ellipsis-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1111111111;
}

.lds-ellipsis {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #bf431f;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.nav-info__cart {
  position: absolute;
  top: 100%;
  right: -50%;
  background: #e3cfab;
  max-height: 25em;
  width: 15em;
  z-index: -1;
  text-align: center;
  overflow-y: auto;
  opacity: 0;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.nav-info__cart__item {
  height: 17em;
  width: 90%;
  padding-bottom: 0.7em;
  margin: 0.7em 0;
  border-bottom: 1px solid #bf431f;
}
.nav-info__cart::-webkit-scrollbar {
  width: 0.5em;
}
.nav-info__cart::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.nav-info__cart::-webkit-scrollbar-thumb {
  background: #888;
}
.nav-info__cart::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cart-item__info,
.cart-item__image {
  width: 100%;
}

.cart-item__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #bf431f;
  margin-bottom: 0.6em;
}
.cart-item__info h3 {
  font-size: 1.2em;
}
.cart-item__info span {
  font-size: 0.88em;
}

.cart-item__image {
  height: 65%;
  position: relative;
}
.cart-item__image img {
  max-height: 94%;
  max-width: 100%;
  object-fit: cover;
}

.cart-item__remove {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  height: 1em;
  width: 1em;
  background-color: #978b73;
  top: 0;
  right: 1.5em;
  font-size: 1.2em;
  cursor: pointer;
}
.cart-item__remove:hover {
  background-color: #4b473f;
}

.abv-range__slider {
  background: #f4e8ce;
  position: relative;
  margin-top: 1em;
}
.abv-range__slider, .abv-range__progress {
  height: 5px;
  border-radius: 5px;
}
.abv-range__progress {
  background: #bf431f;
  position: absolute;
  left: 0%;
  right: 0%;
}
.abv-range__range-inputs {
  display: flex;
  position: relative;
  top: -10px;
}
.abv-range__range-inputs input {
  position: absolute;
  width: 100%;
  background: none;
  appearance: none;
  pointer-events: none;
}
.abv-range__range-inputs input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  appearance: none;
  pointer-events: auto;
  background: #bf431f;
  z-index: 222;
}

#shop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 5.54em 0 3.5em;
  background: #f4e8ce;
}

.shop-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 61.5%;
}

.shopbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #f4e8ce;
  font-family: "Alegreya", serif;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.shop-content__goldbeer-wrapper {
  background: url("/page/images/jumbo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7.81em 0;
}

.shop-content__goldbeer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2.5em 6.18em 1.06em;
  text-align: center;
}
.shop-content__goldbeer h1 {
  font-family: "Alegreya", serif;
  font-size: 4em;
  color: white;
  margin-bottom: 0.25em;
}
.shop-content__goldbeer p {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: #eee2c8;
  font-size: 1.375em;
  line-height: 1.3em;
}
.shop-content__goldbeer--btn {
  width: 17.56em;
  height: 3.56em;
  margin-top: 2.4em;
  background: #bf431f;
}
.shop-content__goldbeer--btn span {
  font-size: 1.06em;
}
.shop-content__goldbeer--btn:hover {
  background: #7a3319;
}

.shop-sidebar-wrapper,
.shop-cart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.shop-sidebar-wrapper {
  background-color: #e3cfab;
  width: 16.87em;
}

.shop-cart {
  border-bottom: 1px solid #f4e8ce;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  padding: 1.6em;
}
.shop-cart .filter-btn {
  background: #d57f2c;
  height: 2.5em;
  font-size: 1.1em;
  cursor: pointer;
}
.shop-cart .filter-btn:hover {
  background: #bf431f;
}
.shop-cart .beer-name,
.shop-cart .date-input {
  padding: 0.4em 1em;
  font-size: 0.85em;
  background: #f4e8ce;
  border-radius: 5px;
  border: 1px solid grey;
  width: 100%;
}
.shop-cart .beer-name {
  font-size: 1em;
}
.shop-cart input[name=food] {
  accent-color: #bf431f;
}
.shop-cart h4,
.shop-cart h6 {
  color: #bf431f;
}

.food-filter {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.food-filter h6 {
  margin: 1em 0;
}
.food-filter .food-filter-pair {
  margin-bottom: 0.2em;
}
.food-filter .food-filter-pair input {
  margin-right: 0.5em;
}

.shop-cart__title {
  font-size: 1.9em;
  text-align: center;
}

.abv-range__title,
.food-filter__title {
  font-size: 1.1em;
}

.shop-categories {
  padding: 1.9em 1.8em 2em;
}

.shop-sidebar__title {
  font-family: "Alegreya", serif;
  font-size: 1.125em;
  color: #bf431f;
  margin-top: 1.35em;
  margin-bottom: 1.45em;
}

.shop-categories__list {
  list-style: none;
  padding-left: 0;
}

.shop-categories__list-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0.68em;
}
.shop-categories__list-item a {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 0.875em;
  color: #44322c;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
.shop-categories__list-item a:hover {
  color: #e1a03a;
}

.shop-categories__list-item--lastchild {
  margin-bottom: 0;
}

.shop-categ-arrow {
  color: #e1a03a;
  font-size: 0.8em;
  margin-right: 0.6em;
}

.pagination {
  margin-top: 2em;
}

.pagination--next-prev,
.page-link {
  background: none;
}

.page-item {
  cursor: pointer;
}

.page-item.active .page-link {
  background-color: #bf431f;
}

.page-link {
  border: 0px;
  color: #bf431f;
  font-family: "Alegreya", serif;
  font-size: 1.2em;
  border-radius: 0;
  margin: 0.22em;
  padding: 0.26em 0.7em;
}
.page-link i {
  font-size: 0.7em;
}
.page-link:hover {
  background: #bf431f;
  color: #f4e8ce;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pagination--next-prev:hover {
  background: none;
  color: #83351a;
}

.arrow-pagination {
  font-size: 0.6em;
}

.page-link:focus {
  box-shadow: none !important;
  border-color: transparent !important;
  background: #bf431f;
  color: #f4e8ce;
}

.beer-output-wrapper {
  position: relative;
}

.beer-container {
  margin-top: 6.68em;
  gap: 2em;
}
.beer-container--btn {
  width: 100%;
  height: 3.68em;
  background: #d57f2c;
  padding: 0.9em 0;
  line-height: 1.85em;
  font-size: 17px;
}
.beer-container--btn:hover {
  background: #bf431f;
}
.beer-container__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 28.8em;
  width: 30.8%;
  background: #e3cfab;
  cursor: pointer;
}
.beer-container__item:hover {
  transition: all 0.25s ease-in-out;
  background: none;
}
.beer-container__item .beer-title-front,
.beer-container__item .beer-desc-front {
  display: none;
}
.beer-container__image {
  height: 70%;
  position: relative;
  margin-top: 1em;
  margin-bottom: 1.5em;
}
.beer-container__image__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  opacity: 0;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.3em;
  color: white;
  filter: drop-shadow(-4px 4px 2px #525151);
  transition: all 0.25s ease-in-out;
  gap: 0.4em;
}
.beer-container__image:hover .beer-container__image__info {
  top: 50%;
  opacity: 1;
}
.beer-container__image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.beer-container__price {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 0.875em;
  color: #bf431f;
  margin-bottom: 1.31em;
}

.no-results-notification {
  visibility: hidden;
  text-align: center;
  color: #bf431f;
}

.beer-container__information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.beer-container__item--long {
  width: 100%;
  height: 22.75em;
  padding: 1.5em 0.8em;
  flex-direction: row;
  cursor: default;
}
.beer-container__item--long:hover {
  background: #e3cfab;
}
.beer-container__item--long .beer-title-front,
.beer-container__item--long .beer-desc-front {
  display: block;
}
.beer-container__item--long .beer-title-front {
  font-family: "Alegreya", serif;
  font-size: 2.125em;
}
.beer-container__item--long .beer-title-front:hover {
  color: #793319;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.beer-container__item--long .beer-desc-front {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 0.875em;
}
.beer-container__item--long .beer-container__image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 4;
  cursor: pointer;
  height: 100%;
}
.beer-container__item--long .beer-container__information {
  flex: 8;
  align-self: flex-start;
  align-items: flex-start;
  margin-top: 0.32em;
}
.beer-container__item--long .beer-container__price {
  color: #44322c;
}
.beer-container__item--long .beer-container--btn {
  width: 12.16em;
  height: 3.06em;
}

.shop-beer-list {
  width: 75%;
  position: relative;
}
.shop-beer-list__display-icons {
  position: absolute;
  left: 0;
  top: -0.5em;
  width: 18em;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1em;
}
.shop-beer-list__display-icons i {
  font-size: 1.82em;
  color: #bf431f;
  margin-right: 0.3em;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.shop-beer-list__display-icons i:hover {
  color: #793319;
}
.shop-beer-list__display-icons span {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 0.85em;
  color: #44322c;
  margin-left: 0.6em;
}

.shop-beer-list-selector,
.shop-beer-list-selector__option {
  background-color: #f4e8ce;
}

.shop-beer-list-selector {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em 2em 0.5em 1em;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: #44322c;
  font-size: 14px;
  width: 14em;
  height: 3.6em;
  border: 1px solid #e3cfab;
  transition: all 0.25s ease-in-out;
}
.shop-beer-list-selector:hover {
  border-color: #e1a03a;
}
.shop-beer-list-selector:focus {
  border: 1px solid #bf431f;
}

.beer-row {
  margin-bottom: 1.81em;
}

.shop-content-shop {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 7.875em;
  width: 100%;
  gap: 2em;
}

#footer {
  background: url("/page/images/footer.jpg");
}
#footer h3 {
  font-family: "Alegreya", serif;
  font-size: 1.31em;
  color: #e1a03a;
  margin-top: 1.54em;
  margin-bottom: 2.1em;
}
#footer ul {
  list-style: none;
}
#footer li,
#footer p {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: #f4e8ce;
  font-size: 0.875em;
}
#footer li:hover {
  transition: all 0.25s ease-in-out;
  color: #e1a03a;
  cursor: pointer;
}

.footer-box {
  padding: 4.4em 0.5em 4em;
  width: 61.5%;
  margin-top: 1em;
  margin-bottom: 2.1em;
}

.footer-link-list {
  padding-left: 1em;
}

.blog-list {
  padding: 0;
}
.blog-list__item {
  margin-bottom: 1.8em;
}

.footer__item--logo-icons img {
  margin-top: 1em;
  margin-bottom: 1.8em;
}
.footer__item--logo-icons p {
  margin-bottom: 3.7em;
}
.footer__item--blog {
  margin-left: 0.2em;
}
.footer__item--contacts {
  margin-left: 0.5em;
}
.footer__item--contacts span {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #e1a03a;
}

.copyright-wrapper {
  width: 61.5%;
}

.copyright {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: #ae9d8b;
  font-size: 0.875em;
  padding: 2.5em 0 9em;
}
.copyright a {
  color: #f4e8ce;
  text-decoration: none;
}

header {
  width: 100%;
}

.nav-info-wrapper,
.navibar-wrapper,
.breadcrumbs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.nav-info,
.navibar,
.breadcrumbs {
  width: 61.5%;
}

.nav-info-wrapper {
  height: 2.85em;
  background: #44322c;
  color: #e1a03a;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}

.nav-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-info__workdays,
.cart-icon,
.cart-amount {
  font-size: 0.75em;
}

.nav-info__workdays {
  margin-top: 4px;
}

.nav-info__cart-wrapper {
  position: relative;
  margin: 1.5em;
  color: white;
  cursor: pointer;
}

.nav-info__cart-wrapper:hover .nav-info__cart {
  transition: all 0.25s ease-in-out;
  opacity: 1;
  z-index: 111;
}

.socials {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.socials--header {
  margin-top: 1px;
}

.socials__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #30211b;
  margin-right: 3.5px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  color: #e1a03a;
}
.socials__icon-box:hover {
  background: #e1a03a;
}
.socials__icon-box:hover i {
  color: #30211b;
}

.socials__icon-box--header {
  height: 1.375em;
  width: 1.375em;
}
.socials__icon-box--header i {
  font-size: 0.6em;
}

.socials__icon-box--footer {
  height: 2.31em;
  width: 2.31em;
}
.socials__icon-box--footer i {
  font-size: 0.93em;
}

.navibar-wrapper {
  background: #bf431f;
  height: 5.125em;
  width: 100%;
}

.navibar-sticky {
  position: fixed;
  z-index: 2;
  top: 0;
}
.navibar-sticky img {
  width: 60%;
}

.navibar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navibar .navibar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style: none;
  margin-bottom: 0;
}

.navibar__link {
  padding: 1.8em 1em;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  color: #f4e8ce;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.navibar__link:hover {
  background: #83351a;
  color: #e1a03a;
}

.features-menu--parent {
  position: relative;
}

.features-links {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  padding: 1em 1.3em;
  background: #83351a;
  width: 16.4em;
  color: #f4e8ce;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.13, 0.77, 0.73, 0.98);
  z-index: -1;
}

.features__link {
  font-size: 0.875em;
}
.features__link:hover {
  color: #e1a03a;
  cursor: pointer;
}

.features-links--menu1,
.features-links--menu2 {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.features-links--menu1 {
  top: 230%;
}

.features-links--menu2 {
  top: 150%;
  left: 100%;
}

.features-menu:hover .features-links--menu1,
.pages-submenu:hover .features-links--menu2 {
  z-index: 11;
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.pages-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.pages-wrapper i {
  font-size: 0.6em;
}

.pages-submenu:hover .features-links--menu2 {
  top: 80%;
}

.breadcrumbs-wrapper {
  background: #e3cfab;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 4.43em;
}
.breadcrumbs .breadcrumbs__shop {
  font-family: "Alegreya", serif;
  font-size: 1.5em;
  color: #d57f2c;
}
.breadcrumbs .breadcrumbs__currentpage {
  transition: all 0.25s ease-in-out;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  color: #44322c;
  cursor: pointer;
}
.breadcrumbs .breadcrumbs__currentpage:hover {
  color: #bf431f;
}