.abv-range {
  &__slider {
    background: $shop-bgd;
    position: relative;
    margin-top: 1em;
  }
  &__slider,
  &__progress {
    height: 5px;
    border-radius: 5px;
  }
  &__progress {
    background: $orange-brown;
    position: absolute;
    left: 0%;
    right: 0%;
  }
  &__range-inputs {
    display: flex;
    position: relative;
    top: -10px;
    input {
      position: absolute;
      width: 100%;
      background: none;
      appearance: none;
      pointer-events: none;
    }
    input[type='range']::-webkit-slider-thumb {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      appearance: none;
      pointer-events: auto;
      background: $orange-brown;
      z-index: 222;
    }
  }
}
