.modal-content {
  background: $light-brown;
}

.beer-desc {
  @include fira-sans($fw: 400);
  &__header {
    div {
      width: 100%;

      h5 {
        font-family: $alegreya;
        font-weight: 600;
        font-size: 1.6em;
      }
      span {
        font-style: italic;
      }
    }
  }
  .beer-abv__title,
  .footer-desc__tip,
  .beer-desc__body__withus,
  .beer-desc__body__bottomspan,
  .beer-desc__header {
    color: $orange-brown;
  }

  &__body {
    &__bottomspan {
      margin-bottom: 2em;
      line-height: 4em;
    }
  }
  &__footer {
    .beer-abv {
      margin-bottom: 1.4em;
      margin-right: 2.4em;
    }
  }
}
