.beer-output-wrapper {
  position: relative;
}

.beer-container {
  margin-top: 6.68em;
  gap: 2em;
  &--btn {
    width: 100%;
    height: 3.68em;
    background: $button-brown;
    padding: 0.9em 0;
    line-height: 1.85em;
    font-size: 17px;

    &:hover {
      background: $orange-brown;
    }
  }
  &__item {
    @include flex-center-all($direction: column);
    justify-content: space-between;
    height: 28.8em;
    width: 30.8%;
    background: $light-brown;
    cursor: pointer;
    transition: $smooth;
    &:hover {
      background: none;
    }

    .beer-title-front,
    .beer-desc-front {
      display: none;
    }
  }

  &__image {
    height: 70%;
    position: relative;
    margin-top: 1em;
    margin-bottom: 1.5em;

    &__info {
      @include flex-center-all;
      position: absolute;
      opacity: 0;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3.3em;
      color: white;
      filter: drop-shadow(-4px 4px 2px #525151);
      transition: $smooth;
      gap: 0.4em;
      a {
        text-decoration: none;
        color: white;
        margin-left: 0.5em;
      }
    }
    &:hover &__info {
      top: 50%;
      opacity: 1;
    }
    img {
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
  &__price {
    @include fira-sans($fw: 500);
    font-size: 0.875em;
    color: $orange-brown;
    margin-bottom: 1.31em;
  }
}
.no-results-notification {
  visibility: hidden;
  text-align: center;
  color: $orange-brown;
}

.beer-container__information {
  @include flex-center-all($direction: column);
  width: 100%;
}

.beer-container__item--long {
  width: 100%;
  height: 22.75em;
  padding: 1.5em 0.8em;
  flex-direction: row;
  cursor: default;
  &:hover {
    background: $light-brown;
  }

  .beer-title-front,
  .beer-desc-front {
    display: block;
  }
  .beer-title-front {
    font-family: $alegreya;
    font-size: 2.125em;
    &:hover {
      color: #793319;
      cursor: pointer;
      transition: $smooth;
    }
  }
  .beer-desc-front {
    @include fira-sans($fw: 500);
    font-size: 0.875em;
  }

  .beer-container__image {
    @include flex-center-all;
    flex: 4;
    cursor: pointer;
    height: 100%;
  }

  .beer-container__information {
    flex: 8;
    align-self: flex-start;
    align-items: flex-start;
    margin-top: 0.32em;
  }

  .beer-container__price {
    color: $nav-dark-brown;
  }

  .beer-container--btn {
    width: 12.16em;
    height: 3.06em;
  }
}
