.nav-info__cart {
  position: absolute;
  top: 100%;
  right: -50%;
  background: $light-brown;
  max-height: 25em;
  width: 15em;
  z-index: -1;
  text-align: center;
  overflow-y: auto;
  opacity: 0;
  &__item {
    height: 17em;
    width: 90%;
    // margin-bottom: 0.5em;
    padding-bottom: 0.7em;
    margin: 0.7em 0;
    border-bottom: 1px solid $orange-brown;
  }
  &::-webkit-scrollbar {
    width: 0.5em;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.cart-item__info,
.cart-item__image {
  width: 100%;
}
.cart-item__info {
  @include flex-center-all($direction: column);
  color: $orange-brown;
  margin-bottom: 0.6em;
  h3 {
    font-size: 1.2em;
  }
  span {
    font-size: 0.88em;
  }
}

.cart-item__image {
  height: 65%;
  position: relative;
  img {
    max-height: 94%;
    max-width: 100%;
    object-fit: cover;
  }
}
.cart-item__remove {
  @include flex-center-all;
  position: absolute;
  height: 1em;
  width: 1em;
  background-color: #978b73;
  top: 0;
  right: 1.5em;
  font-size: 1.2em;
  cursor: pointer;
  &:hover {
    background-color: #4b473f;
  }
}
