.navibar-wrapper {
  background: $orange-brown;
  height: 5.125em;
  width: 100%;
}
.navibar-sticky {
  position: fixed;
  z-index: 2;
  top: 0;
  img {
    width: 60%;
  }
}
.navibar {
  @include flex-align-center;
  justify-content: space-between;
}
.navibar__links {
  @include flex-center-all;
  list-style: none;
  margin-bottom: 0;
  height: 100%;
}

.navibar__link {
  @include flex-center-all;
  padding: 1.8em 1em;
  height: 100%;
  @include fira-sans($fw: 500);
  color: #f4e8ce;
  cursor: pointer;
  transition: $smooth;

  &:hover {
    background: $hover-brown;
    color: $nav-brown-yellow;
  }
}

.features-menu--parent {
  position: relative;
}

.features-links {
  list-style: none;
  @include flex-justify-center($direction: column);
  @include fira-sans($fw: 500);
  padding: 1em 1.3em;
  background: $hover-brown;
  width: 16.4em;
  color: #f4e8ce;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.13, 0.77, 0.73, 0.98);
  z-index: -1;
}

.features__link {
  font-size: 0.875em;

  &:hover {
    color: $nav-brown-yellow;
    cursor: pointer;
  }
}

.features-links--menu1,
.features-links--menu2 {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
.features-links--menu1 {
  top: 230%;
}
.features-links--menu2 {
  top: 150%;
  left: 100%;
}

.features-menu:hover .features-links--menu1,
.pages-submenu:hover .features-links--menu2 {
  z-index: 11;
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.pages-wrapper {
  @include flex-align-center;
  justify-content: space-between;
  i {
    font-size: 0.6em;
  }
}

.pages-submenu:hover .features-links--menu2 {
  top: 80%;
}

@media (max-width: $max-tablets) {
  .navibar__links {
    display: none;
  }
}
