.shop-sidebar-wrapper,
.shop-cart {
  @include flex-justify-center($direction: column);
  text-align: left;
}

.shop-sidebar-wrapper {
  background-color: $light-brown;
  width: 16.87em;
}
.shop-cart {
  border-bottom: 1px solid $shop-bgd;
  @include flex-justify-center($direction: column);
  gap: 1em;
  padding: 1.6em;
  .food-filter {
    @include flex-justify-center($direction: column);
  }
  .filter-btn {
    background: #d57f2c;
    height: 2.5em;
    font-size: 1.1em;
    cursor: pointer;
    &:hover {
      background: $orange-brown;
    }
  }
  input[name='food'] {
    accent-color: $orange-brown;
  }
}

.shop-categories {
  padding: 1.9em 1.8em 2em;
}

.shop-sidebar__title {
  font-family: $alegreya;
  font-size: 1.125em;
  color: $orange-brown;
  margin-top: 1.35em;
  margin-bottom: 1.45em;
}

.shop-categories__list {
  list-style: none;
  padding-left: 0;
}

.shop-categories__list-item {
  @include flex-align-center;
  margin-bottom: 0.68em;
  a {
    @include fira-sans($fw: 500);
    font-size: 0.875em;
    color: $nav-dark-brown;
    text-decoration: none;
    transition: $smooth;
    &:hover {
      color: $nav-brown-yellow;
    }
  }
}

.shop-categories__list-item--lastchild {
  margin-bottom: 0;
}

.shop-categ-arrow {
  color: $nav-brown-yellow;
  font-size: 0.8em;
  margin-right: 0.6em;
}
