@import '../components/pagination';
@import '../components/beer-container';

.shop-beer-list {
  width: 75%;
  position: relative;
  &__display-icons {
    position: absolute;
    left: 0;
    top: -0.5em;
    width: 18em;
    @include flex-align-center;
    margin-bottom: 1em;
    i {
      font-size: 1.82em;
      color: $orange-brown;
      margin-right: 0.3em;
      cursor: pointer;
      transition: $smooth;

      &:hover {
        color: #793319;
      }
    }
    span {
      @include fira-sans($fw: 500);
      font-size: 0.85em;
      color: $nav-dark-brown;
      margin-left: 0.6em;
    }
  }
}
.shop-beer-list-selector,
.shop-beer-list-selector__option {
  background-color: $shop-bgd;
}
.shop-beer-list-selector {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em 2em 0.5em 1em;
  @include fira-sans($fw: 400);
  color: $nav-dark-brown;
  font-size: 14px;
  width: 14em;
  height: 3.6em;
  border: 1px solid $light-brown;
  transition: $smooth;

  &:hover {
    border-color: $nav-brown-yellow;
  }
  &:focus {
    border: 1px solid $orange-brown;
  }
}

.beer-row {
  margin-bottom: 1.81em;
}

@media (max-width: $max-medium) {
  .shop-beer-list-selector {
    font-size: 12px;
  }
}
@media (max-width: $max-tablets) {
  .shop-beer-list {
    width: 100%;
  }
  .shop-beer-list-selector {
    font-size: 10px;
    top: -1em;
  }
}

@media (max-width: $min-mobile) {
  .shop-beer-list-selector {
    font-size: 8px;
  }
}
