.shop-content__goldbeer-wrapper {
  background: url('/page/images/jumbo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7.81em 0;
}

.shop-content__goldbeer {
  @include flex-center-all($direction: column);
  padding: 2.5em 6.18em 1.06em;
  text-align: center;

  h1 {
    font-family: $alegreya;
    font-size: 4em;
    color: white;
    margin-bottom: 0.25em;
  }
  p {
    @include fira-sans($fw: 400);
    color: #eee2c8;
    font-size: 1.375em;
    line-height: 1.3em;
  }
  &--btn {
    width: 17.56em;
    height: 3.56em;
    margin-top: 2.4em;
    background: $orange-brown;

    span {
      font-size: 1.06em;
    }
    &:hover {
      background: #7a3319;
    }
  }
}
