#product {
  background: $shop-bgd;
  padding: 5.52em 0;
  .product-info-wrapper {
    width: 61.5%;
  }
}

.product__info {
  height: 27.56em;
  color: $nav-dark-brown;

  &__image {
    position: relative;
    img {
      height: 94%;
      object-fit: contain;
    }
    .magn-wrapper {
      @include flex-center-all;
      position: absolute;
      top: 0.8em;
      right: 0.8em;
      height: 2.25em;
      width: 2.25em;
      background: white;
      border-radius: 50%;
      i {
        font-size: 1.1em;
      }
    }
  }
  &__details {
    margin-left: 3.75em;
    &__title {
      font-family: $alegreya;
      font-size: 2.125em;
      margin-bottom: 0.7em;
    }

    &__price,
    &__desc {
      @include fira-sans($fw: 500);
    }

    &__price {
      font-size: 1.125em;
      margin-bottom: 0.85em;
    }

    &__desc {
      font-size: 0.875em;
      margin-bottom: 1.6em;
    }
  }

  &__addcart {
    margin-bottom: 0.4em;
    input {
      padding: 0.9em 0;
      width: 10em;
      height: 3.05em;
      background: none;
      text-align: center;
      outline: none;
      border: 1px solid $light-brown;
      border-right: none;
      border-radius: 5px 0 0 5px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .input-arrows-wrapper {
      gap: 1px;
      margin-right: 0.4em;
    }
    .input-arrow {
      @include flex-center-all;
      background: $button-brown;
      width: 1.34em;
      height: 100%;
      cursor: pointer;
      &:hover {
        background-color: $orange-brown;
      }
      i {
        font-size: 0.55em;
        color: $shop-bgd;
      }
    }
    .product-add-btn {
      background: $button-brown;
      width: 14.68em;

      &:hover {
        background: $orange-brown;
      }
      span {
        font-size: 1.05em;
      }
    }
  }
  &__categ-id {
    margin-top: 0.25em;
    font-size: 0.875em;
    @include fira-sans($fw: 400);
    .product-categ-list {
      color: $orange-brown;
    }
  }
  hr {
    background-color: #9b9282;
  }
}
