#shop {
  @include flex-center-all;
  padding: 5.54em 0 6.05em;
  background: $shop-bgd;
}
.shop-content {
  @include flex-center-all($direction: column);
  width: 61.5%;
}

.shopbtn {
  @include flex-center-all;
  color: $shop-bgd;
  font-family: $alegreya;
  border: none;
  cursor: pointer;
  transition: $smooth;
}
