@import './components/shop-sidebar';
@import './components/shop-beer-list';

.shop-content-shop {
  @include flex-align-center;
  align-items: flex-start;
  margin-top: 7.875em;
  width: 100%;
  gap: 2em;
}

@media (max-width: $max-tablets) {
  .shop-content-shop {
    flex-direction: column;
    flex-direction: column-reverse;
  }
}
