@import './sections/shop-sidebar';
@import './sections/shop-beer-list';

.shop-content-shop {
  @include flex-align-center;
  align-items: flex-start;
  margin-top: 7.875em;
  width: 100%;
  gap: 2em;
}
