#footer {
  background: url('/page/images/footer.jpg');
  h3 {
    font-family: $alegreya;
    font-size: 1.31em;
    color: $nav-brown-yellow;
    margin-top: 1.54em;
    margin-bottom: 2.1em;
  }
  ul {
    list-style: none;
  }
  li,
  p {
    @include fira-sans($fw: 400);
    color: $shop-bgd;
    font-size: 0.875em;
  }
  li {
    &:hover {
      transition: $smooth;
      color: $nav-brown-yellow;
      cursor: pointer;
    }
  }
}

.footer-box {
  padding: 4.4em 0.5em 4em;
  width: 61.5%;
  margin-top: 1em;
  margin-bottom: 2.1em;

  &__item {
    flex: 4;
  }
}

.footer-link-list {
  padding-left: 1em;
}

.blog-list {
  padding: 0;
  &__item {
    margin-bottom: 1.8em;
  }
}

.footer__item {
  &--logo-icons {
    img {
      margin-top: 1em;
      margin-bottom: 1.8em;
    }
    p {
      margin-bottom: 3.7em;
    }
  }

  &--blog {
    margin-left: 0.2em;
  }
  &--contacts {
    margin-left: 0.5em;
    span {
      @include fira-sans($fw: 700);
      font-size: 1em;
      color: $nav-brown-yellow;
    }
  }
}

.copyright-wrapper {
  width: 61.5%;
}
.copyright {
  @include fira-sans($fw: 400);
  color: #ae9d8b;
  font-size: 0.875em;
  padding: 2.5em 0 9em;

  a {
    color: $shop-bgd;
    text-decoration: none;
  }
}

@media (max-width: 1400px) {
  .footer-box {
    width: 90%;
    font-size: 13px;
  }
}
@media (max-width: $max-tablets) {
  .footer-box {
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__item {
      width: 60%;
      margin-bottom: 1em;
    }
  }
  .footer-link-list {
    padding-left: 0;
  }
  .socials--footer {
    justify-content: center;
  }

  .copyright-wrapper {
    text-align: center;
  }
}
