header {
  width: 100%;
}

//

.nav-info-wrapper,
.navibar-wrapper,
.breadcrumbs-wrapper {
  @include flex-center-all;
}
.nav-info,
.navibar,
.breadcrumbs {
  width: 62%;
}

.nav-info,
.breadcrumbs {
  padding-right: 1.22em;
}
.nav-info-wrapper {
  height: 2.85em;
  background: $nav-dark-brown;
  color: $nav-brown-yellow;
  @include fira-sans($fw: 400);
}
.nav-info {
  @include flex-align-center;
  justify-content: flex-end;
}
.nav-info__workdays,
.nav-info__cart {
  font-size: 0.75em;
}
.nav-info__workdays {
  margin-top: 4px;
}

.nav-info__cart {
  margin: 1.5em;
  color: white;
}

.socials {
  @include flex-align-center;
}
.socials--header {
  // margin-left: 2.31em;
  margin-top: 1px;
}
.socials__icon-box {
  @include flex-center-all;
  // border-radius: 50%;
  background: #30211b;
  margin-right: 3.5px;
  transition: $smooth;
  cursor: pointer;
  color: #e1a03a;
  &:hover {
    background: $nav-brown-yellow;
    i {
      color: #30211b;
    }
  }
}

.socials__icon-box--header {
  height: 1.375em;
  width: 1.375em;
  i {
    font-size: 0.6em;
  }
}

.socials__icon-box--footer {
  height: 2.31em;
  width: 2.31em;
  i {
    font-size: 0.93em;
  }
}

// NAVBAR

@import '../components/_navibar';

// BREADCRUMBS
.breadcrumbs-wrapper {
  background: $light-brown;
}

.breadcrumbs {
  @include flex-align-center;
  justify-content: space-between;
  height: 4.43em;

  .breadcrumbs__shop {
    font-family: $alegreya;
    font-size: 1.5em;
    color: $button-brown;
  }
  .breadcrumbs__currentpage {
    transition: $smooth;
    @include fira-sans($fw: 500);
    color: $nav-dark-brown;
    cursor: pointer;
    &:hover {
      color: $orange-brown;
    }
  }
}
